<%- include('includes/head')%> <%- include('includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="text-center">Agenda das Melhores</h1>
      <p class="text-center lead">
        Só para quem fornece experiências inesquecíveis!
      </p>

      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger">Um erro qualquer</div>
        </div>
      </div>
    </div>

    <div class="responsive-table col-lg-12 text-center">
      <table class="table my-2">
        <tr>
          <td>Exemple First Name</td>
          <td>Exemple Last Name</td>
          <td>Number Exemple</td>
          <td>exemple@gmail.com</td>
        </tr>
      </table>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%-include('includes/footer')%>
