<%- include('includes/head')%> <%- include('includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">
      <h1 class="text-center">Bem vindo a Agenda Monstra.</h1>
      <p class="text-center lead">Faça login ou crie uma conta!</p>
    </div>

    <div class="row">
      <div class="col-lg">
        <h4 class="text-center mb-2">Faça seu cadastro</h4>
        <form action="/login/register" method="POST">
          <input type="hidden" name="_csrf" value=<%= csrfToken %>>
          <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" />
          </div>
          <div class="mb-3">
            <label class="form-label">Senha:</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="termosDeUso" />
            <label class="form-check-label" for="termosDeUso"
              >Li e aceito os <a href="#">Termos de uso</a></label
            >
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>

      <div class="col-lg">
        <h4 class="text-center mb-2">Entre com sua conta</h4>
        <form action="/login/login" method="POST">
          <div class="mb-3">
            <label class="form-label">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" />
          </div>
          <div class="mb-3">
            <label class="form-label">Senha:</label>
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
      </div>
    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%-include('includes/footer')%>
